Package: me.vikings.puma
Name: Puma
Depends: mobilesubstrate, preferenceloader, net.limneos.libbulletin
Conflicts: com.lacertosusrepo.volbratexi
Version: 1.3
Architecture: iphoneos-arm
Description: Double tap statusbar to experience Puma.
Maintainer: Viking
Author: Viking
Section: Tweaks
