Package: me.vikings.puma
Name: Puma
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: Double tap statusbar clock to experience Puma.
Maintainer: Viking
Author: Viking
Section: Tweaks
Version: 1.0-12+debug
Installed-Size: 1324
